@model AccountingModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
    <div class="card-header">
        تراکنش جدید
    </div>
    <div class="card-body">
        <form asp-controller="Home" asp-action="NewTransaction" method="post">
            <div class="form-group">
                <label class="form-label" for="AccountingName">نام عامل:</label>
                <Input class="form-control" asp-for="AccountingName">
            </div>
            <div class="form-group">
                <label class="form-label" for="Debit">بدهکار:</label>
                <Input class="form-control" asp-for="Debit">
            </div>
            <div class="form-group">
                <label class="form-label" for="Credit">بستانکار:</label>
                <Input class="form-control" asp-for="Credit">
            </div>
            <div class="form-group">
                <label class="form-label" for="TransactionDate">تاریخ تراکنش:</label>
                <Input class="form-control" asp-for="TransactionDate">
            </div>
            <div class="form-group">
                <label class="form-label" for="Description">توضیحات:</label>
                <Input class="form-control" asp-for="Description">
            </div>
            <div class="text-start mt-1">
                <a class="btn btn-danger" asp-controller="Home" asp-action="UserAction">بازگشت</a>
            </div>
        </form>
    </div>
</div>

