@{
    ViewData["Title"] = "register";
}
<div class="card" style="max-width:400px;">
    <div class="card-header">
        عملیات
    </div>
    <div class="card-body">
        <div class="row p-3">
            <a asp-controller="Home" asp-action="TransactionData" class="btn btn-primary" style="width:100%;">تراکنش ها</a>
            <a asp-action="NewTransaction" class="btn btn-primary my-2" style="width:100%;">تراکنش جدید</a>
            <a asp-action="Amount" class="btn btn-primary" style="width:100%;">مانده</a>
        </div>
    </div>
</div>

